.wrapper {
  height: 100vh;
  background-color: transparent;

  .content {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .outlet {
      overflow-y: auto;
    }
  }
}
